html,
body {
    width: 100%;
    min-height: 100%;
    margin: 10px;
    padding: 0;
    color: #ddd;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #333;
}
.contenedor {
    width: 300px;
    height: 100px;
    background-color: aquamarine;
    color: black;
    padding: 15px;
}

span.frase {
    font-style: italic;
}

span.frase::before {
    content: "<< ";
    font-size: xx-small;
}

span.frase::after {
    content: " >> ";
    font-size: xx-small;
}
.libro{
    background-color: bisque;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.libro p::first-letter {
    font-size: xx-large;
    color: red;
}
.libro p::first-line{
    color:blue
}
/*Afecta cuando selecionas*/
.libro p::selection{
    background-color: chocolate;
    color: yellow;
}
.listado ul li::marker{
    color:blueviolet
}