div {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}
.relative{
    position: relative;
    left: 80px;
}
.fixed{
    position: fixed;
    bottom: 100px;
    left: 400px;
    background-color: green;
    /*El z index posiciona al elemento en una capa de vision, mientras mayor número más alta es la capa*/
    z-index: 10;
}
.absolute{
    position: absolute;
    top: 10px;
    right: 0px;
}
.relative.contenedor{
    width: 300px;
    height: 100px;
    background-color: blue;
}
.sticky{
    position: sticky;
    background-color: salmon ;
    top: 0px;
    z-index: 2;
}
/*Simplement lo uso para ver como funcionan los componentes al hacer scroll*/
.scroll{
    height: 1000px;
}