html,
body {
    width: 100%;
    min-height: 100%;
    margin: 10px;
    padding: 0;
    color: #ddd;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #333;
}

div {
    width: 300px;
    height: 100px;
    padding: 15px;
    color:black;
}

.hover {
    width: 300px;
    height: 100px;
    background-color: bisque;
}

/*El hover se activa cuando el ratón pasa por encima*/
.hover:hover {
    background-color: burlywood;
}

.listado {
    background-color: aquamarine;
}

.listado p:first-child {
    color: white;
}

.enlaces {
    background-color:darkorange;
}

/*Enlace no visitado*/
a:link {
    color:darkslateblue
}

/*Enlace visitado*/
a:visited {
    color: blue;
}

a:active {
    color: aqua;
}