html {
    font-family: 'Marhey', cursive;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding: 10px;

}

h2 {
    text-transform: capitalize;
    border-bottom: 1px dashed;
    margin-bottom: 30px;
    font-size: 2em;
}

h3 {
    text-align: center;
    padding: 10px;
}

.numero {
    background-color: red;
    color: white;  
    width: 30px;
    border-radius: 10%;
    padding: 10px;
    margin-right: 0.5em;
}
.address{
    font-weight: bold;
    color: #d38ee4;
}
#noborder {
    border: none;
}

.image{
    float: left;
    margin-right: 1em;
    max-height: 250px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #6c6037;
}

.container {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content {
    padding: 20px;
    max-width: 900px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: #302b63;
    color: white;
    border-radius: 25px;
    box-shadow: 3px 3px 6px #ffc400;
    position: relative;
}

.actions {
    position: absolute;
    top: 2em;
    right: 2em;
}

.close {
    height: 40px;
    width: 40px;
    color: white;
    background-color: #0f0c29;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 3px 3px 6px #6c6037;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: none;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.table td,
.table th {
    padding: 1em;
    text-align: left;
}

.table tr:nth-child(even) {
    background-color: #3d377f;

}

.fa-star {
    color: #ffc400;
}
.padding-left{
    padding-left: 1em;
}